.modal-container {
  width: 100vw;
  height: 100vh;
  padding-top: 300px;
  position: relative;
  background: rgba(#c7c7c7, .3);

  &__content {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: rgba(#c7c7c7, .7);
  }
}
