<app-blog-item></app-blog-item>
<div class="blog-item-grid">
  <div class="blog-item-grid__shortcut main">
    <div class="blog-item-wrapper">
      <h2>
        It will be the first post in this blog
      </h2>
      <p>
        Today I understood how to use Grid in this project,<br>
        Also I deal with matching and interconnection between files.
      </p>
      <p>
        Next step - setup of Grid,<br> creation of new post (blog-item) and implementation of this into project.
      </p>
      <p>
        Also I'm very interested why tag "p/" <span>"crashed"</span> all page.
      </p>
      <a href="#">Read about...</a>
    </div>
  </div>
  <div class="blog-item-grid__shortcut secondary-1">
    <div class="blog-item-wrapper">2</div>
  </div>
  <div class="blog-item-grid__shortcut secondary-2">
      <div class="blog-item-wrapper">2</div>
  </div>
  <div class="blog-item-grid__shortcut minor-1">
      <div class="blog-item-wrapper">3</div>
    </div>
  <div class="blog-item-grid__shortcut minor-2">
      <div class="blog-item-wrapper">4</div>
  </div>
  <div class="blog-item-grid__shortcut minor-3">
      <div class="blog-item-wrapper">5</div>
  </div>
  <div class="blog-item-grid__shortcut minor-4">
    <div class="blog-item-wrapper">6</div>
  </div>
</div>