html {
  height:100%;
  overflow:hidden;
}
body {
  color: #fff;
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
}
/* You have to forget about styling global 
elements like above in a components style!! */
header {
  box-sizing:border-box;
  min-height:100vh;
  padding: 30vw 0 5vw;
  position:relative;
  transform-style: inherit;
  width: 100vw;
}
header h1 {
  margin-top: -100px;
}
header, header:before {
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left:0;
  position:absolute;
  right: 0;
  top:0;
  display: block;
  background-image: url(../img/me.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
header * {
  font-weight:normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em
}
span {
  display:inline-block;
  position:relative;
  left: 700px;
  width: 700px;
  text-align:right;
}
span p{
  text-align:right;
  margin-right:20px;
}
span p:hover {
  border:2px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.5;
  color:black;
}
h1:hover {
  font-weight:bold;
  text-shadow: 0 0 15px #1E90FF;
  color: rgb(223, 247, 15);
}
.logo {
  display:inline-block;
  position:absolute;
  top:100px;
  left:150px;
  color:red;
  font-family:  stoked;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 0 0 7px #1E90FF;
  color: #1E90FF;
  background:#fff;
  animation: pulsing 2s infinite;
  border-radius: 100%;
  padding:5px;
}
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8)
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}
