<p>
  Here will be map of the web-site
</p>
<div class="section">

  <div class="menu-block">
    <nav class="menu-nav">
      <a href="#">Home</a><br>
      <a href="#">Portfolio</a><br>
      <a href="#">About</a><br>
      <a href="#">Contacts</a><br>
      <a href="#">Portal</a><br>
      <a href="#">Settings</a><br>
    </nav>
  </div>
  <a class="menu-btn">
    <span>
        
    </span>
    <nav class="menu-btn-linkList">
        <a href="#">Home</a><br>
        <a href="#">Portfolio</a><br>
        <a href="#">About</a><br>
        <a href="#">Contacts</a><br>
        <a href="#">Portal</a><br>
        <a href="#">Settings</a><br>
      </nav>
  </a>
  

</div>
