<h3>
  Here will be map of the web-site
</h3>
<div class="section">
  <div class="menu-block">
    <nav class="menu-nav">
      <a href="#">Home</a><br>
      <a href="#">Portfolio</a><br>
      <a href="#">About</a><br>
      <a href="#">Contacts</a><br>
      <a href="#">Portal</a><br>
      <a href="#">Settings</a><br>
    </nav>
  </div>
 <h3>
   Archive
 </h3> 
 <div class="month-list">
   <a href="#">January 2018</a><br>
   <a href="#">February 2018</a><br>
   <a href="#">March 2018</a><br>
   <a href="#">April 2018</a><br>
   <a href="#">May 2018</a><br>
   <a href="#">June 2018</a><br>
   <a href="#">July 2018</a><br>
   <a href="#">August 2018</a><br>
   <a href="#">September 2018</a><br>
   <a href="#">October 2018</a><br>
   <a href="#">November 2018</a><br>
   <a href="#">December 2018</a><br>
 </div>
</div>
<a class="menu-btn"><!--button for <768px screen-->
  <span>
  </span>
  <nav class="menu-btn-linkList"> 
      <a href="#">Home</a><br>
      <a href="#">Portfolio</a><br>
      <a href="#">About</a><br>
      <a href="#">Contacts</a><br>
      <a href="#">Portal</a><br>
      <a href="#">Settings</a><br>
    </nav>
</a>

