.wrapper {
  background-color:black;
  display:grid;
  grid-template-areas:
  "head head head head"
  "blog blog blog sidebar"
  "footer footer footer footer"
  ;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 80px 3fr 50px;
  text-align: center;
  background-color: #141212;
  max-height: 100%;
}
.wrapper>div {
  border-radius: 5px;
}
.head {
  grid-area: head;
  background-image: url(src\img\68480405-matrix-wallpapers.jpg);
}
.blog {
  grid-area: blog;
  background-color: #141212;
}
.sidebar {
  grid-area: sidebar;
  background-color: #141212;
  border:1px solid white;
  opacity:0.5;
}
.sidebar:hover {
  transition:0.9s;
  opacity:1;
}
.footer {
  grid-area: footer;
  background-image: url(src\img\68480405-matrix-wallpapers.jpg);
}